.RestaurantSlider{
  margin: 10px 0;

  &__title{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__slider{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
